{% extends 'en/admin/base_template.html' %}
<!-- BLOCK FOR TITLE-->
{% block title %} Staff Update {% endblock title %}
<!-- END BLOCK FOR TITLE-->

<!-- BLOCK FOR CUSTOM CSS-->
{% block custom_css %} {% endblock custom_css %}
<!-- END BLOCK FOR CUSTOM CSS-->

<!-- BLOCK FOR PAGE TITLE-->
{% block page_title %} Staff Update {% endblock page_title %}
<!-- END BLOCK FOR PAGE TITLE-->

<!-- BLOCK FOR PAGE MAIN CONTENT-->
{% block page_content %}
<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Staff</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        <input
                                type="{{ field.field.widget.input_type }}"
                                name="{{ field.name }}"
                                id="{{ field.name }}"
                                class="form-control"
                                value="{{ field.value }}"
                        />
                        {% if field.errors%}
                        <div class="alert alert-danger" style="margin: 10px">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>
                    {% if field.field.widget.input_type == "file" %}
                    <div class="form-group">
                        <label>Current {{field.label}}</label><br>
                        <div class="card">
                            <div class="card-body">
                                <img src="{{field.value}}" style="height:250px"/>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-block">
                        UPDATE NURSE
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock page_content %}
<!-- END BLOCK FOR PAGE MAIN CONTENT-->

<!-- BLOCK FOR CUSTOM JS-->
{% block custom_js %} {% endblock custom_js %}
<!-- END BLOCK FOR CUSTOM JS-->
