{% extends 'en/admin/base_template.html' %}
<!-- BLOCK FOR TITLE-->
{% block title %}
Laboratory Admin Create
{% endblock title %}
<!-- END BLOCK FOR TITLE-->

<!-- BLOCK FOR CUSTOM CSS-->
{% block custom_css %} {% endblock custom_css %}
<!-- END BLOCK FOR CUSTOM CSS-->

<!-- BLOCK FOR PAGE TITLE-->
{% block page_title %}
New Laboratory Admin Create
{% endblock page_title %}
<!-- END BLOCK FOR PAGE TITLE-->

<!-- BLOCK FOR PAGE MAIN CONTENT-->
{% block page_content %}
<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>New Laboratory Admin Create</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        <input
                                type="{{ field.field.widget.input_type }}"
                                name="{{ field.name }}"
                                id="{{ field.name }}"
                                class="form-control"/>

                        {% if field.errors%}
                        <div class="alert alert-danger" style="margin: 10px">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="form-group">
                        <label>Profile Image</label>
                        <input type="file" name="profile_pic" id="profile_pic" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Mobile Phone</label>
                        <input type="text" name="mobile" id="mobile" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" name="address" id="address" class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        CREATE NEW LAB ADMIN
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock page_content %}
<!-- END BLOCK FOR PAGE MAIN CONTENT-->

<!-- BLOCK FOR CUSTOM JS-->
{% block custom_js %} {% endblock custom_js %}
<!-- END BLOCK FOR CUSTOM JS-->
