{% extends 'en/patient/base_template.html' %}
{% load static %}

<!-- BLOCK FOR TITLE-->
{% block title %}
Doctor Visit
{% endblock title %}
<!-- END BLOCK FOR TITLE-->

<!-- BLOCK FOR CUSTOM CSS-->
{% block custom_css %}
<link rel="stylesheet" href="{% static '/pages/css/book-service.css' %}">
<link rel="stylesheet" href="{% static '/pages/css/home_en.css' %}">
{% endblock custom_css %}
<!-- END BLOCK FOR CUSTOM CSS-->

<!-- BLOCK FOR PAGE TITLE-->
{% block page_title %}
Doctor Visit
{% endblock page_title %}
<!-- END BLOCK FOR PAGE TITLE-->

<!-- BLOCK FOR PAGE MAIN CONTENT-->
{% block page_content %}

<form class="service-type-container" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="service-form-container">
        <div class="row g-3">
            <div class="col-md-6 col-sm-12">
                <label class="form-label" for="service_choices_select">Service Type :&nbsp;<span
                        style="color: red;">*</span></label>
                <br>
                <select class="form-select" id="service_choices_select" name="service_type" disabled>
                    <option value="{{service_type}}">{{service_type}}</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-12">
                <label class="form-label" for="service_choices_select">
                    Address:&nbsp;
                    <span style="color: red;">*</span>
                </label>
                <br>
                <div class="row gy-2">
                    <div class="col-md-9 col-sm-12">
                        <input class="form-input" type="text" name="patient_address" value="{{ patient.address }}"
                               placeholder="Address">
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <button class="form-button" onclick="event.preventDefault(); getSelfLocation()">
                            GPS Address
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <br>
                <label
                        class="form-label"
                        for="service_choices_types_select">Category Doctor:&nbsp;<span
                        style="color: red;">*</span></label>
                <br>
                <select
                        class="form-select"
                        id="category_choices_types_select"
                        name="category_class"
                        onchange="getDoctors()"
                        required>
                    <option value="0">None</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="service-form-container">
        <h4>Doctors</h4>
        <div class="row" id="doctors">

        </div>

    </div>

    <div class="slots-form-container">
        <h4>Available Times:</h4>
        <div class="slot-container" id="slot-container">

        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <a class="btn btn-secondary" href="{% url 'patient_all_services' %}">Cancel</a>
        </div>
        <div class="col-6">
            <button class="btn btn-primary" type="submit" disabled onclick="stripe(true)">Book and Pay Now</button>
        </div>
        <div class="col-3">
            <button class="btn btn-danger" type="submit" disabled onclick="stripe(false)">Book and Pay Later</button>
        </div>
    </div>
    
    <input type="number" hidden name="doctor_pk">
    <input type="checkbox" hidden name="payment_stripe">
</form>


{% endblock page_content %}
<!-- END BLOCK FOR PAGE MAIN CONTENT-->

<!-- BLOCK FOR CUSTOM JS-->
{% block custom_js %}
<script>

    function getSelfLocation() {
        const updateAddressField = async (position) => {
            const addressField = document.querySelector("input[name='patient_address']")
            const lat = position.coords.latitude
            const lon = position.coords.longitude
            let res = await fetch(`{% url 'get_user_address' %}?lon=${lon}&lat=${lat}`)
            res = await res.json()
            addressField.value = res.address
        }

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(updateAddressField)
        }
        updateListiners()
    }

    async function getDoctors() {
        const api = `{% url 'list_service_doctors' %}`
        const category_type = document.querySelector("#category_choices_types_select").value
        await fetch(api, {
            method: "POST",
            body: JSON.stringify({category_type: category_type})
        }).then((res) => {
            return res.json()
        }).then(json => {
            if (json.doctors) {
                const doctors = document.querySelector("#doctors")
                doctors.innerHTML = ""
                if (json.doctors.length > 0) {
                    json.doctors.forEach(doctor => {
                        const html = `
							<div class="col-md-4 col-sm-12" key="${doctor['id']}">
								<div class="doctor-box">
									<div class="row row-margin">
										<div class="col-4 doctor-img-container">
											<img src="${doctor['photo']}">
										</div>
										<div class="col-8 doctor-data-container">
										    <h5>${doctor['name']}</h5>
											<span>Mobile: ${doctor['phone']}</span><br>
											<span>Price: ${doctor['price']} RSA</span>
										</div>
									</div>
									<span class="doctor-address-container">${doctor['address']}</span>
								</div>		
							</div>
						`
                        const doctors = document.querySelector("#doctors")
                        doctors.innerHTML += html
                    })
                }
            }

        })
    }


    let selected_doctor;

    async function updateBookingTimings() {
        const api = `{% url 'get_booking_slots' %}`
        await fetch(api, {
            method: "POST",
            body: JSON.stringify({id: selected_doctor})
        }).then(res => {
            return res.json()
        }).then(data => {
            const container = document.querySelector("#slot-container")
            if (data.slots.length > 0) {
                container.innerHTML = "<select name='booking_slot' id='slots'></select>"
                const select = document.querySelector("#slots")
                select.innerHTML = ""
                data.slots.forEach(slot => {
                    const select = document.querySelector("#slots")
                    select.innerHTML += `<optgroup label="Title: ${slot['day']}"> <option value="${slot['id']}">Start: ${slot['start_time']} || End: ${slot['end_time']}</option></optgroup>`
                })

            } else {
                container.innerHTML = "<h4 class='unsuported'>There are no times for this doctor</h4>"
            }
        })
    }


    function validateForm(selected_doctor) {
        const submitBtns = Array.from(document.querySelectorAll("button[type='submit']"))
        // const serviceType = document.querySelector("select[name='service_type']").value
        // const serviceClass = document.querySelector("select[name='service_class']").value
        // const address = document.querySelector("input[name='patient_address']").value
        const slot = document.querySelector("select[name='booking_slot']") // check if exists
        console.log(slot)
        if (selected_doctor <= 0 || !slot) {
            submitBtns.forEach(btn => {
                btn.disabled = true
            })
        } else {
            submitBtns.forEach(btn => {
                btn.disabled = false
            })
        }
    }

    function stripe(bool) {
        console.log("///////////////////////")
        console.log(bool)
        const stripePayment = document.querySelector("input[name='payment_stripe']")
        stripePayment.checked = bool
    }

    document.addEventListener("click", event => {
        const doctors_div = document.querySelector("#doctors")

        if (event.target == doctors_div || doctors_div.contains(event.target) && doctors_div.children[0].tagName != "H4") {
            Array.from(doctors_div.children).forEach(child => {
                const selectedDoctorInput = document.querySelector("input[name='doctor_pk']")
                if (child.contains(event.target)) {
                    selected_doctor = parseInt(child.attributes.key.value)
                    selectedDoctorInput.value = selected_doctor
                    child.children[0].classList.add("selected")
                    updateBookingTimings()
                } else {
                    child.children[0].classList.remove("selected")
                }

                if (!document.querySelector(".selected")) {
                    selected_doctor = 0
                    selectedDoctorInput.value = ""
                }
            })
        }
    })

    document.addEventListener("click", (ev) => {
        validateForm(selected_doctor)
    })
    document.addEventListener("input", (ev) => {
        validateForm(selected_doctor)
    })

    function updateListiners() {
        const imgs = document.querySelectorAll("img")
        Array.from(imgs).forEach(img => {
            img.onerror = function () {
                const anon_img = `{% static 'imgs/anon.webp' %}`
                this.src = anon_img;
            };
        })
    }

</script>

{% endblock custom_js %}
<!-- END BLOCK FOR CUSTOM JS-->