{% extends 'en/patient/base_template.html' %} {% load static %}

<!-- BLOCK FOR TITLE-->
{% block title %} Laboratory Analytic {% endblock title %}
<!-- END BLOCK FOR TITLE-->

<!-- BLOCK FOR CUSTOM CSS-->
{% block custom_css %}
<link rel="stylesheet" href="{% static '/pages/css/book-service.css' %}" />
<link rel="stylesheet" href="{% static '/pages/css/home_en.css' %}" />
{% endblock custom_css %}
<!-- END BLOCK FOR CUSTOM CSS-->

<!-- BLOCK FOR PAGE TITLE-->
{% block page_title %} Laboratory Analytic {% endblock page_title %}
<!-- END BLOCK FOR PAGE TITLE-->

<!-- BLOCK FOR PAGE MAIN CONTENT-->
{% block page_content %}

<form
  class="service-type-container"
  method="post"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <div class="service-form-container">
    <div class="col-md-6 col-sm-12">
      <label class="form-label" for="service_choices_select"
        >Service Type :&nbsp;<span style="color: red">*</span></label
      >
      <br />
      <select
        class="form-select"
        id="service_choices_select"
        name="service_type"
        disabled
      >
        <option value="{{service_type}}">{{service_type}}</option>
      </select>
    </div>
    <div class="col-md-6 col-sm-12">
      <br />
      <label class="form-label" for="service_choices_types_select"
        >Analytics Laboratory:&nbsp;<span style="color: red">*</span></label
      >
      <br />
      <select
        class="form-select"
        id="category_choices_types_select"
        name="category_class"
        onchange="getAnalytics()"
        required
      >
        <option value="0">None</option>
        {% for service in services %}
        <option value="{{ service.id }}">
          {{ service.title }} || {{service.price}} SAR
        </option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="service-form-container">
    <h4>Laboratories</h4>
    <div class="row" id="labs"></div>
  </div>

  <div class="row">
    <div class="col-3">
      <a class="btn btn-secondary" href="{% url 'patient_all_services' %}"
        >Cancel</a
      >
    </div>
    <div class="col-6">
      <button
        class="btn btn-primary"
        type="submit"
        disabled
        onclick="stripe(true)"
      >
        Book and Pay Now
      </button>
    </div>
    <div class="col-3">
      <button
        class="btn btn-danger"
        type="submit"
        disabled
        onclick="stripe(false)"
      >
        Book and Pay Later
      </button>
    </div>
  </div>

  <input type="number" hidden name="lab_pk" />
  <input type="checkbox" hidden name="payment_stripe" />
</form>

{% endblock page_content %}
<!-- END BLOCK FOR PAGE MAIN CONTENT-->

<!-- BLOCK FOR CUSTOM JS-->
{% block custom_js %}
<script>
  let selected_service;
  async function getAnalytics() {
    const api = `{% url 'list_labs' %}`;
    const service_id = document.querySelector(
      "#category_choices_types_select"
    ).value;
    selected_service = service_id;
    await fetch(api, {
      method: "POST",
      body: JSON.stringify({ service_id: service_id }),
    })
      .then((res) => {
        return res.json();
      })
      .then((json) => {
        if (json.labs) {
          const labs = document.querySelector("#labs");
          labs.innerHTML = "";
          if (json.labs.length > 0) {
            json.labs.forEach((lab) => {
              const html = `
							<div class="col-md-4 col-sm-12" key="${lab["id"]}">
								<div class="doctor-box">
									<div class="row row-margin">
										<div class="col-4 doctor-img-container">
											<img src="/media/${lab["photo"]}">
										</div>
										<div class="col-8 doctor-data-container">
										    <h5>${lab["name"]}</h5>
											<span>Mobile: ${lab["phone"]}</span><br>
										</div>
									</div>
									<span class="doctor-address-container">${lab["address"]}</span>
								</div>		
							</div>
						`;
              const labs = document.querySelector("#labs");
              labs.innerHTML += html;
            });
          }
        }
      });
  }

  let selected_labs;

  function validateForm(selected_labs) {
    const submitBtns = Array.from(
      document.querySelectorAll("button[type='submit']")
    );
    if (selected_labs <= 0) {
      submitBtns.forEach((btn) => {
        btn.disabled = true;
      });
    } else {
      submitBtns.forEach((btn) => {
        btn.disabled = false;
      });
    }
  }

  function stripe(bool) {
    const stripePayment = document.querySelector(
      "input[name='payment_stripe']"
    );
    stripePayment.checked = bool;
  }

  document.addEventListener("click", (event) => {
    const labs_div = document.querySelector("#labs");

    if (
      event.target == labs_div ||
      (labs_div.contains(event.target) && labs_div.children[0].tagName != "H4")
    ) {
      Array.from(labs_div.children).forEach((child) => {
        const selectedLabInput = document.querySelector("input[name='lab_pk']");
        if (child.contains(event.target)) {
          selected_labs = parseInt(child.attributes.key.value);
          selectedLabInput.value = selected_labs;
          child.children[0].classList.add("selected");
        } else {
          child.children[0].classList.remove("selected");
        }

        if (!document.querySelector(".selected")) {
          selected_labs = 0;
          selectedLabInput.value = "";
        }
      });
    }
  });

  document.addEventListener("click", (ev) => {
    validateForm(selected_labs);
  });
  document.addEventListener("input", (ev) => {
    validateForm(selected_labs);
  });

  function updateListiners() {
    const imgs = document.querySelectorAll("img");
    Array.from(imgs).forEach((img) => {
      img.onerror = function () {
        const anon_img = `{% static 'imgs/anon.webp' %}`;
        this.src = anon_img;
      };
    });
  }
</script>

{% endblock custom_js %}
<!-- END BLOCK FOR CUSTOM JS-->
