{% load static %}
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="{% url 'nurse_dashboard' %}"><img src="{% static '/img/logo.png' %}" style="height: 85px;"/></a>
        </div>
        <br>
        <div class="sidebar-brand sidebar-brand-sm">
            <a href="{% url 'nurse_dashboard' %}">MO</a>
        </div>
        <br>
        <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>

            <!--Home-->
            {% url 'nurse_dashboard' as nurse_dashboard %}
            <li class="{% if request.path == nurse_dashboard %}active{% endif %}">
                <a href="{% url 'nurse_dashboard' %}" class="nav-link">
                    <i class="fas fa-home"></i>
                    <span>Nurse Home</span>
                </a>
            </li>

            <!-- Services -->
            {% url 'nurse_service_update' id as nurse_service_update %}
            {% url 'nurse_services_list' as nurse_services_list %}
            {% url 'nurse_service_create' as nurse_service_create %}
            <li class="dropdown {% if request.path == nurse_service_update %}active{% endif %}{% if request.path == nurse_services_list %}active{% endif %}{% if request.path == nurse_service_create %}active{% endif %}">
                <a href="#" class="nav-link has-dropdown">
                    <i class="fas fa-calendar-check"></i>
                    <span>Services</span></a>
                <ul class="dropdown-menu">
                    <li class="{% if request.path == nurse_services_list %}active{% endif %}{% if request.path == nurse_service_update %}active{% endif %}">
                        <a href="{% url 'nurse_services_list' %}" class="nav-link">
                            My Services
                        </a>
                    </li>
                    <li class="{% if request.path == nurse_service_create %}active{% endif %}">
                        <a href="{% url 'nurse_service_create' %}" class="nav-link">
                            New Service
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Service Times --> 
            {% url 'nurse_service_time_update' id as nurse_service_time_update %}
            {% url 'nurse_services_times_list' as nurse_services_times_list %}
            {% url 'nurse_service_time_create' as nurse_service_time_create %}
            <li class="dropdown {% if request.path == nurse_service_time_update %}active{% endif %}{% if request.path == nurse_services_times_list %}active{% endif %}{% if request.path == nurse_service_time_create %}active{% endif %}">
                <a href="#" class="nav-link has-dropdown">
                    <i class="fas fa-calendar-check"></i>
                    <span>Services Times</span></a>
                <ul class="dropdown-menu">
                    <li class="{% if request.path == nurse_services_times_list %}active{% endif %}{% if request.path == nurse_service_time_update %}active{% endif %}">
                        <a href="{% url 'nurse_services_times_list' %}" class="nav-link">
                            My Time of Services
                        </a>
                    </li>
                    <li class="{% if request.path == nurse_service_time_create %}active{% endif %}">
                        <a href="{% url 'nurse_service_time_create' %}" class="nav-link">
                            New Time of Service
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Bookings -->
            {% url 'nurse_booking_pending' as booking_pending %}
            {% url 'nurse_booking_list' as booking_list %}
            {% url 'nurse_booking_update' id as booking_update %}
            <li class="dropdown {% if request.path == booking_pending %}active{% endif %}{% if request.path == booking_list %}active{% endif %}{% if request.path == booking_update %}active{% endif %}">
                <a href="#" class="nav-link has-dropdown">
                    <i class="fas fa-list"></i>
                    <span>Bookings</span></a>
                <ul class="dropdown-menu">
                    <li class="{% if request.path == booking_pending %}active{% endif %}{% if request.path == booking_update %}active{% endif %}">
                        <a href="{% url 'nurse_booking_pending' %}" class="nav-link">
                            Pending Bookings
                        </a>
                    </li>
                    <li class="{% if request.path == booking_list %}active{% endif %}">
                        <a href="{% url 'nurse_booking_list' %}" class="nav-link">
                            All Bookings
                        </a>
                    </li>
                </ul>
            </li>


        </ul>
        <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
            <a href="{% url 'users_logout_process' %}" class="btn btn-danger btn-lg btn-block btn-icon-split">
                <i class="fas fa-sign-out-alt"></i>LOGOUT
            </a>
        </div>
    </aside>
</div>